<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>2016-06-01-java-gc.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.458404</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-15-mac-config-hadoop.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840502</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-16-intellij-IDEA-Hadoop.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840597</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-17-hadoop-jar-classNotFond.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840597</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-21-hadoop-live-nodes-miss.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840597</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-22-mac-hadoop-hive.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840698</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-25-mac-hadoop-zookeeper.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840698</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-28-mac-hadoop-mahout.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840698</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-06-28-mac-hadoop-zookeeper-hbase.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.458408</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-03-mac-hadoop-pig.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.458408</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-07-22-Java-Scanner-next.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.458408</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2016-09-04-Java-singleton.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840901</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
			<key>2017-01-05-jsp-css.md</key>
			<dict>
				<key>lastModification</key>
				<real>505293433.19946599</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>2017-01-05-tomcat-servlet-url.markdown</key>
			<dict>
				<key>lastModification</key>
				<real>505293371.45840901</real>
				<key>version</key>
				<dict>
					<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-06-01-java-gc.markdown</string>
		</array>
		<array>
			<string>2016-06-15-mac-config-hadoop.markdown</string>
		</array>
		<array>
			<string>2016-06-16-intellij-IDEA-Hadoop.markdown</string>
		</array>
		<array>
			<string>2016-06-17-hadoop-jar-classNotFond.markdown</string>
		</array>
		<array>
			<string>2016-06-21-hadoop-live-nodes-miss.markdown</string>
		</array>
		<array>
			<string>2016-06-22-mac-hadoop-hive.markdown</string>
		</array>
		<array>
			<string>2016-06-25-mac-hadoop-zookeeper.markdown</string>
		</array>
		<array>
			<string>2016-06-28-mac-hadoop-mahout.markdown</string>
		</array>
		<array>
			<string>2016-07-03-mac-hadoop-pig.markdown</string>
		</array>
		<array>
			<string>2016-06-28-mac-hadoop-zookeeper-hbase.markdown</string>
		</array>
		<array>
			<string>2016-07-22-Java-Scanner-next.markdown</string>
		</array>
		<array>
			<string>2016-09-04-Java-singleton.markdown</string>
		</array>
		<array>
			<string>2017-01-05-tomcat-servlet-url.markdown</string>
		</array>
		<array>
			<string>2017-01-05-jsp-css.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>c67aba80eda68dfc7f128bd55324ec21b76e3d9911443bfda73e81555d7a4c95</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
